.container {
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
    display:flex;
    flex-direction: column;
    height: 40rem;
    padding-top: 50px;
    } 
.container h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}

.container p {
    font-size: 1rem;
    line-height: 1.6;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}


#about .container {
    display: flex;
    flex-direction: row-reverse;
    align-items:stretch;
    justify-content:space-between;
    padding-right: 30px;;
    gap: 20px; 

}
#about .aboutImg {
    height: 300px;
    width:  300px;
    background-color: rgb(34, 34, 34);
}

#about .container:hover .aboutImg,
#about .container:hover .information {
    filter: brightness(0.3);
    transition: filter 0.3s;
    
}
.aboutImg:hover,
.information:hover {
    filter: brightness(2) !important;
    transform: scale(1.05);
}
#skills .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-right: 30px;
    gap: 20px;

}
#skills ul {
    padding-left: 0;
}
#skills .container .all-skills{
    display:flex;
    width: 100%;
    justify-content: space-between;
    padding-left: 1rem;
    
}
#skills .frontend-skills,#skills .backend-skills{
    display: flex;
    flex-direction: column;
    width: 25%;
    align-items: center;
    background-color: #0000001a;
    box-shadow: 1px 1px 7px 1px;
}

#skills li {
    list-style: none;
    padding-bottom: 1rem;
    transition: transform 0.3s ease;
    position: relative;
}

#skills li:hover {
    transform: scale(1.05);
    z-index: 2;
}

.skill-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    max-width: 500px;  
}

.description {
    display: flex;
    z-index: 5;
    transition: opacity 0.3s ease;
    opacity: 0;
    pointer-events: none;
    padding-left: 1rem;
}

#skills li:hover .description {
    display: block;
    opacity: 1;
    pointer-events: auto;
}
.liaBTN {
    width: 6rem; 
}

@media (max-width: 768px) {
.container h2 {
    font-size: 1.5rem;
}

#about .aboutImg {
    display: none;
}

}
@media (max-width: 550px) {
#about .baby{
    display:none
}
}
@media (prefers-color-scheme: light) {
    #about .container:hover .aboutImg,
    #about .container:hover .information {
    filter: brightness(2);
    transition: filter 0.3s;
    }
    .aboutImg:hover,
    .information:hover {
    filter: brightness(0.3) !important;
}
}

[data-theme="light"] #about .container:hover .aboutImg,
[data-theme="light"] #about .container:hover .information {
    filter: brightness(2);
    transition: filter 0.3s;
}

[data-theme="light"] .aboutImg:hover,
[data-theme="light"] .information:hover {
    filter: brightness(0.3) !important;
}