.container {
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
    display:flex;
    flex-direction: column;
    height: 40rem;
    padding-top: 50px;
    } 
.container h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}

.container p {
    font-size: 1rem;
    line-height: 1.6;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}


#about .container {
    display: flex;
    flex-direction: row-reverse;
    align-items:stretch;
    justify-content:space-between;
    padding-right: 30px;;
    gap: 20px; 

}
#about .aboutImg {
    height: 300px;
    width:  300px;
    background-color: rgb(34, 34, 34);
}

#about .container:hover .aboutImg,
#about .container:hover .information {
    filter: brightness(0.3);
    transition: filter 0.3s;
    
}
.aboutImg:hover,
.information:hover {
    filter: brightness(2) !important;
    transform: scale(1.05);
}


@media (max-width: 768px) {
.container h2 {
    font-size: 1.5rem;
}

#about .aboutImg {
    display: none;
}

}
@media (max-width: 550px) {
#about .baby{
    display:none
}
}
@media (prefers-color-scheme: light) {
    #about .container:hover .aboutImg,
    #about .container:hover .information {
    filter: brightness(2);
    transition: filter 0.3s;
    }
    .aboutImg:hover,
    .information:hover {
    filter: brightness(0.3) !important;
}
}

[data-theme="light"] #about .container:hover .aboutImg,
[data-theme="light"] #about .container:hover .information {
    filter: brightness(2);
    transition: filter 0.3s;
}

[data-theme="light"] .aboutImg:hover,
[data-theme="light"] .information:hover {
    filter: brightness(0.3) !important;
}